.vscode
.vscode/


# Client
open-redis-client/target
open-redis-client/target/

open-redis-client/.vscode
open-redis-client/.vscode/


# Server 
open-redis-server/target
open-redis-server/target/

open-redis-client/.vscode
open-redis-client/.vscode/

# General
bin/
Rendu/
